RPC_URL=http://host.docker.internal:8545
EXCHANGE_ADDR=0x0000000000000000000000000000000000000000
CHAIN_ID=31337
PORT=8080
EXCHANGE_KIND=ceo
EXCHANGE_NAME=FireTheCEO Exchange
EXCHANGE_HAS_AMM=true
MATCHER_PRIVATE_KEY=0xYOUR_FUNDED_32_BYTE_PRIVATE_KEY
